CurrencyClient/Service References/CurrencyService/CurrencyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CurrencyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CurrencyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCurrencyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyDTO" nillable="true" type="tns:CurrencyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyDTO" nillable="true" type="tns:ArrayOfCurrencyDTO" />
  <xs:complexType name="CurrencyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyDTO" nillable="true" type="tns:CurrencyDTO" />
</xs:schema>